@charset "utf-8";
/* header */
#header {
    font-family: 'Lato', sans-serif;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #efeded;
    z-index: 10;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
/* logo */
.logo h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    z-index: 12;
}
.logo h1 a {
    color: #000;
}
/* logo end */
/* hamburger menu */
.btn_menu {
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
}
.btn_menu span {
    position: absolute;
    left:0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s;
    z-index: 12;
    border-radius: 3px;
}
.btn_menu span:nth-of-type(1) {
    top: 0;
}
.btn_menu span:nth-of-type(2) {
    top: 50%;
}
.btn_menu span:nth-of-type(3) {
    top: 100%;
}
.btn_menu.active span:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg);
}
.btn_menu.active span:nth-of-type(2) {
    opacity: 0;
}
.btn_menu.active span:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
}
/* hamburger menu end */
/* menu */
#header #menu_area {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 11;
    background-color: var(--background-color--white);
    display: none;
}
#header #menu_area .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#header #menu_area .gnb li {
    text-align: center;
    margin: 30px 0;
}
#header #menu_area .gnb li a {
    font-size: 70px;
    font-weight: 500;
    color: #6e6b6b;
}
#header #menu_area .gnb li a:hover {
    color: var(--color--black1);
    transition: color 0.6s;
}
/* menu end */

/* .gnb {
    font-size: 17px;
    font-weight: normal;
}
.gnb li {
    display: inline-block;
    margin-left: 40px;
}
.gnb li a {
    color: var(--color--black);
    font-weight: 400;
    position: relative;
}
.gnb li a:hover {
    font-weight: bold;
    color: #000;
    transition: all 0.3s;
}
.gnb li a:after {
    content: "";
    background-color: crimson;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-radius: 5px;
    transition: width 0.3s;
}
.gnb li a:hover:after {
    width: 100%;
} */
/* menu end */
/* header end */

/* footer */
.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.finfo-txt {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.35em;
}
.fcony {
    font-size: 17px;
    margin-top: 15px;    
}
/* footer end */
