@charset "utf-8";
/*  Xeicon Cdn */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Wed Font */
/* 레토 */
@import url('https://fonts.cdnfonts.com/css/lato'); 
/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* Wed Font */
:root {
    /* color */
    --color--black1: #000;
    --color--black: #444;
    --color--white: #fff;
    --background-color--white: #fff;
    --background-color--black: #000;
    --background-color--black1: #333;
    /* color */
    /* font */
    --font--weight: bold;
    /* font */
}
* {
    box-sizing: border-box;
    outline: none;
}
body {
    color: #000;
}
section {
    height: 100vh;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow: hidden;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
header,body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}

.inner {
    max-width: 1300px;
    margin: 0 auto;
}
.cl::after {
    content: "";
    display: block;
    clear: both;
}

