@charset "utf-8";
/* setion2 animation */
.ktl {
    animation: ktl 1.2s linear;
}
@keyframes ktl {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.ttl {
    animation: ttl 1.2s linear;
}
@keyframes ttl {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* section2 animation */
/* section5 animation */
.htl {
    animation: htl 1.2s linear both;
}
@keyframes htl {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.rtl {
    animation: rtl 1.2s linear both;
}
@keyframes rtl {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(o);
    }
}
.otl {
    animation: otl 1.2s linear both;
}
@keyframes otl {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(o);
    }    
}
/* section5 animation */


