/* @charset "utf-8"; */
/*ν—¤λ”*/
#header{}
.hLeft{
    width:920px; 
    float:left;
}
.util{
    text-align:right;
    margin-right:50px;
    font-size:12px;
    padding-top:10px; 
}
.util li{
    display:inline-block;
    margin-left:30px;
}
.util li::after{
    content:"";
    display:block;
    width:0;
    height:2px;
    background:#000;
    transform:scale(0);
    transition:transform 0.5s;  
}
.util li:hover::after{
    width:100%;
    transform:scale(1);
}
.util .Lang{
    background:url(../jpg/common/arrow_b.png) no-repeat right center;
    padding-right:10px; 
    
}
.util li a{}

.hBottom{
    line-height:21px;
    margin-top:20px; 
}
.hBottom h1{
    float:left;
    font-size: 25px;
    font-weight: 900;
    padding:3px;
}
.gnb{ 
    float:left;
    padding-top:5px; 
    font-size:17px; 
    font-weight: bold;
}
.gnb li{
   float:left;
    margin-left:50px;
    position:relative;
}
.gnb li::after{
    content:"";
    display:block;
    width:0%;
    height:3px;
    background:#000;
    position:absolute;
    bottom:-10px;
    transform:scale(0);
    transition:transform 0.5s;
}
.gnb li:hover::after{
    width:100%;
    transform:scale(1);
}
.gnb li a{}

.search{
    float:right;
    margin:7px 50px 0 0;
}
.search img{
    width: 17px;
}
.hBtn{
    width:280px;
    height:85px;
    background:#66cee8;
    float:right;
    text-align:center;
    line-height:85px;
    font-weight:bold;
}
.hBtn a{
    color:#fff;
}
.hBtn:hover {
    background-color:#02b5e4;
}
/*ν‘Έν„°*/
#footer{
    background:#e9e9e9; 
}

.fTop{
    position:relative;
    padding:50px 0;
    border-bottom:1px solid #cccccc;
    margin-bottom:20px; 
}
.fMenu{}
.fMenuList{
    float:left;
    margin-right:50px;
    line-height:30px; 
}
.fMenuList h5{
    background:url(../jpg/common/arrow_r.png) no-repeat
        right center;
    font-size:16px;
    padding-right:15px; 
}
.fMenuList h5 a{}

.fMenuList dl{}
.fMenuList dt{
    font-weight:900;
}
.fMenuList dd{
    font-size:14px; 
}
.fMenuList dd a{}
.family{
    width:160px;
    height:40px;
    line-height:40px;
    padding:0 15px; 
    background:url(../jpg/common/plus_icon.png) no-repeat
    165px center;
    background-color:#fff;
    position:absolute;
    top:0;
    right:0;
    margin-top:50px; 
     
}
.topBtn{
    font-size:14px;
    background:url(../jpg/common/arrow_top.png) no-repeat
    right center;
    position:absolute;
    padding-right:15px;
    right:0;
}
.fBottom{
    color:#8a8a8a;
    font-size:14px;
    position:relative;
    padding-bottom:30px;    
}
.fBottom a{
    color:#8a8a8a;;
}
.fBMenu{
    line-height:22px;
}
.fBMenu li{
    float:left;
    margin-bottom:20px; 
}
.fBMenu li::before{
    content:"";
    display:inline-block;
    width:1px;
    height:13px;
    background:#959595;
    margin:0 10px;
    vertical-align:middle; 
}
.fBMenu li:first-child::before,.fBMenu li:last-child::before{
    display:none;
}
.fBMenu li a,.fBMenu li img{
    vertical-align:middle;
}
.fBottom p{
    line-height:25px; 
}
/* .fSns{
    position:absolute;
    top:0;
    right:0; 
}
.fSns li{
    width:25px;
    height:25px;
    border-radius:50%;
    text-indent:-9999px;
    float:left;
    margin-left:5px; 
}
.fSns .ytIcon{background:url(../jpg/common/youtube_icon.png) no-repeat center center; }
.fSns .linked{background:url(../jpg/common/link_icon.png) no-repeat center center;}
.fSns .facebook{background:url(../jpg/common/facebook_icon.png) no-repeat center center;}
.fSns .naver{background:url(../jpg/common/naver_icon.png) no-repeat center center;}
.fSns li a{
    display:block;
    height:100%; 
} */
.fLang{
    background:url(../jpg/common/top_b.png) no-repeat
    right center;
    position:absolute;
    bottom:30px;
    right:0; 
}  
.fLang a{
    padding-right:10px; 
}