@charset "utf-8";

/*메인슬라이더*/
.mainSlider{
    text-align:center;
    height: 800px;
    overflow: hidden;
    position:relative;
    width: 100%;
   
}
#mainVideo{
    position:absolute;
    left:50%;
    margin-left:-960px;
    margin-top:-540px;
    top:50%;
    overflow:hidden;
}
.sliderCon{
    width:100%;
    position:absolute; 
    color:#fff;
}
.sliderTxt h2{
    font-size:55px;
    padding:200px 0 50px 0;
    font-weight: 500;
}
.sliderTxt p{
    font-size:25px;
    width:1040px;
    margin:0 auto;
    font-weight:400; 
    padding-bottom:100px;
    line-height:40px; 
}

.moreBtn{
    display:inline-block;
}
.moreBtn>div{
    width:200px;
    height: 50px;
    line-height: 53px;
    border:1px solid #fff;
    border-radius:30px; 
    float:left;
    margin:0 10px;
    letter-spacing:3px;
    text-align:center; 
    transition: all 0.3s; 
}
.moreBtn div a span {
    visibility: hidden;
}
.moreBtn>div a{
    color:#fff;
    display:block;
    transition:color 0.3s; 
}
.moreBtn>div:hover{
    background:#fff;
    color:#000;
}
.moreBtn>div:hover a{
    color:#000;
}

/*mainCon01*/
.mainCon01{
    padding:50px 0; 
}

.conTit{
    text-align:center;
    padding-bottom:20px; 
}
.conTit h2{
    font-family:"NotoSans",sans-serif;
    font-size:32px;
    margin-bottom:10px; 
}
.con01Menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff;
    gap:30px;
    margin-top: 30px;
}
.con01Menu>div{
    width:680px;
    height:400px;
    color:#fff;
    padding:30px;
    box-sizing:border-box; 
    position: relative;
    border-radius: 20px;
}
.con01Menu .con01Menu01:nth-of-type(2),
.con01Menu .con01Menu01:nth-of-type(3){
    width:490px; 
}
.con01Menu>div h3{
    font-size:25px;
    margin-bottom:25px; 
}
.con01Menu>div p{
    font-size:17px;
}
.con01Menu01:nth-of-type(1){
    background:url(../jpg/main/con01_img01.png) no-repeat; 
    cursor: pointer;
}
.con01Menu01:nth-of-type(2){
     background:url(../jpg/main/con01_img02.png) no-repeat;
     cursor: pointer;
}
.con01Menu01:nth-of-type(3){
     background:url(../jpg/main/con01_img03.png) no-repeat; 
     cursor: pointer;
}
.con01Menu01:nth-of-type(4){
     background:url(../jpg/main/con01_img04.png) no-repeat;
     cursor: pointer; 
}
/*mainCon01 end*/
/*maincon02*/
.mainCon02{
    background:#000;
    color:#fff;
    padding:100px 0;
}
.mainCon02 .conTit h2{
    font-family:"NanumSquare"; 
}
.mainCon02 .conTit p{
    line-height:30px; 
}
.mainCon02 .conTit span{
    display:block; 
}

.con02Menu{
    margin-top:80px;  
    display: flex;
    flex-direction: row;
}
.con02Menu li{
    text-align:center;
    margin-right:139px; 
}
.con02Menu li:last-child{
    margin-right:0; 
}
.con02Menu li a{
    color:#fff;
}
.con02Menu li a:hover {
    color:#51cfef;
}
.con02Menu li h3{
    font-size:25px;
    margin:20px 0; 
}
.con02Menu li p{
    color:#62bbef;
    font-size:15px;
}
.con02Menu li a:hover p{
    color: #9bf810;
}
/*maincon02 end*/
/*maincon03*/
.mainCon03{
    text-align:center;
    padding:100px 0; 
}
.mainCon03 h2{
    font-size:45px;
    line-height:80px; 
}
.mainCon03 h2 span{
    display:block;
}
.mainCon03 p{
    font-size:17px;
    margin:50px 0;
    
}
.mainCon03 p span{
    font-weight:900;
    
}
.moreBtn.black>div{
    border-color:#000;
    transition:backgroud 0.5s;
}
.moreBtn.black>div a{
    color:#000;
}
.moreBtn.black>div:hover{
    background:#020202; 
}
.moreBtn.black>div:hover a{
    color:#fff;
}
/*maincon03 end*/   
/*maincon04*/
.mainCon04{
    background:url(../jpg/main/con04_bg.png) center center no-repeat;
    background-size: cover;
    padding:80px 0;
}
.txtBox{
    background:#fff;
    width:500px;
    height:500px; 
    padding:40px;
    box-sizing:border-box; 
    border-radius: 20px;
}
.txtBox h2{
    font-size:35px;
    margin-bottom:20px;
    line-height:50px; 
}
.txtBox p{
    line-height:30px; 
}
.txtBox p span{
    display:black;  
}
.txtBox .moreBtn>div{
    margin:0;
    margin-top:215px; 
}
/*maincon04 end*/
/*maincon07*/
.mainCon07{
    background:#000;
    color:#fff;
    text-align:center;
    padding:80px 0;
    margin-top:80px;
}
.mainCon07 h2{
    font-size:48px;
}
.mainCon07 .conTit p{
    margin:20px 0;
    font-size:17px;
}
/*maincon07 end*/




