@charset "utf-8";
/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body{
    font-family:'NanumSquare',sans-serif;
    min-width:1200px;
    color:#333;
    letter-spacing:-0.3px; 
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
    margin:0;
}
h1 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: bold;
}
h2,h3,h4,h5,h6{
    font-family: 'NanumSquare';
}
h2,h3,h4,h5,h6{
    font-weight:900; 
}
ul{
    padding:0;
    margin:0;
    list-style:none;
}
a{
    text-decoration:none;
    color:#000;
}
.inner{
    width:1200px;
    margin:0 auto;
}
.cf::after{
    content:"";
    display:block;
    clear:both;
}
