@charset "utf-8";
/* 메인슬라이더 s1*/
.mainslider {
    width: 100%;
    height: 100vh;
    color: #fff;
}
.swiper.swinner {
    height: inherit;
}
.swiper.swinner .swiper-wrapper {
    height: inherit;
}
.swiper.swinner .swiper-wrapper .swiper-slide {
    position: relative;
    height: 100%;
    width: 100%;
}
.swiper.swinner .swiper-wrapper .swiper-slide .img-one,
.swiper.swinner .swiper-wrapper .swiper-slide .img-two {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.swiper.swinner .swiper-wrapper .swiper-slide .img-one{
    background-image: url(../images/mainsilder-01.png);
}
.swiper.swinner .swiper-wrapper .swiper-slide .img-two {
    background-image: url(../images/mainsilder-02.jpg);
}
.ani_cl{
    animation: ani_cl 1s linear;
}
@keyframes ani_cl {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.swiper.swinner .swiper-wrapper .swiper-slide .slider-p .m-txt {
    position: absolute;
    top: 32%;
    left: 19%;
    z-index: 9;
}
.swiper.swinner .swiper-wrapper .swiper-slide .slider-p .m-txt h2 {
    font-size: 73px;
    font-weight: 900;
}
.swiper.swinner .swiper-wrapper .swiper-slide .slider-p .m-txt p {
    font-size: 29px;
    margin-top: 20px;
}.swiper.swinner .swiper-wrapper .swiper-slide .slider-pp .m-txt {
    position: absolute;
    top: 32%;
    left: 19%;
    z-index: 9;

}
.swiper.swinner .swiper-wrapper .swiper-slide .slider-pp .m-txt h2 {
    font-size: 73px;
    font-weight: 900;
}
.swiper.swinner .swiper-wrapper .swiper-slide .slider-pp .m-txt p {
    font-size: 29px;
    margin-top: 20px;
}
.swiper.swinner .arrow_direction .right {
    background-size: 40% auto;
    background-color: transparent;
    box-shadow: none;
    filter: invert();
}
.swiper.swinner .left {
    background-size: 40% auto;
    background-color: transparent;
    box-shadow: none;
    filter: invert();
}
/* 메인슬라이더 s1*/
/*  프레드 베스트메뉴 s2*/
.slider-bestmenu {
    font-family: 'Mont', sans-serif;
}
.slider-bestmenu .swiper.swiper-container {
    width:100%;
    text-align: center;
    position: relative;
}
.slider-bestmenu .swiper-container h2 {
    font-size: 75px;
    padding-top:150px;
    padding-bottom: 35px;
}
.slider-bestmenu .swiper-container .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
.slider-bestmenu .swiper.swiper-container .swiper-wrapper .swiper-slide {
    width: 300px;
    font-weight: bold;
    padding-bottom: 140px;
}
.slider-bestmenu .swiper.swiper-container .swiper-wrapper .swiper-slide img {
    object-fit: cover;
    width: 300px;
    padding-bottom: 20px;
}
.slider-bestmenu .swiper.swiper-container .swiper-wrapper .swiper-slide:hover img {
    animation: ani 0.7s;
}
.slider-bestmenu .swiper.swiper-container .swiper-wrapper .swiper-slide span {
    display: block;
    font-size: 30px;
    padding-bottom: 7px;
}
.slider-bestmenu .swiper.swiper-container .swiper-wrapper .swiper-slide small {
    color: red;
    font-size: 20px;
}
@keyframes ani{
    0%{
      transform: scale(1);
    }
    50%{
        transform: scale(1.05);
      }
    100%{
      transform: scale(1);
    }
  }
/*  프레드 베스트메뉴 s2*/
/* 프로모션 비디오 s3*/
.promotion{
    font-family: 'Mont', sans-serif;
}
.bg {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.bg img {}
.bg .inner {
    height: 0;
    padding-bottom: 150px;
}
.bg .inner .promotion_title  {
    font-size: 57px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 145px;
    color: #fff;
}
.bg .inner .promotion_title h3 {
}
.bg .inner .bibi_video {
    position: relative;
    padding-top: 56.34%;
    width: 100%;
    height: 0;
    /* display: none; */
}
.bg .inner .bibi_video .bibi { 
    position: absolute;
    top:0;
    left: 50%;
    border: none;
    transform: translate(-50%,-80%);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
  .txt_box {
    font-size: 150px;
    margin-top: 150px;
    margin-bottom: 140px;
  }
  .promotion_txt01, .promotion_txt02 {
    overflow: hidden;
    white-space: nowrap;
  }
  .p_txt01, .p_txt02 {
    display: inline-block;
    color: red;
    font-weight: bold;
    animation: txt1 55s linear infinite;
  }
  .p_txt02 {
    animation-direction: reverse;
}

  .p_txt01 p, .p_txt02 p {
    display: inline-block;
  }  
  .p_txt01 span, .p_txt02 span {
    color: white;
    -webkit-text-stroke: 1px red;
  }
  @keyframes txt1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
/* 프로모션 비디오 s3*/
/* 브랜드 역사 s4*/
.brand-story {
    font-family: 'Mont', sans-serif;
    position: relative;
    overflow: hidden;
    padding-bottom: 200px;
}
.brand-story .story_left {
    position: absolute;
    bottom: -10%;
    left: 0;
    z-index: -10;
    animation: left_ani 3.5s linear infinite;

}
.brand-story .story_left img {}
.brand-story .story_right {
    position: absolute;
    top: 40%;
    right: -2%;
    animation: right_ani 3.5s linear infinite;
}
.brand-story .story_right img {
}
@keyframes left_ani {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes right_ani {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
} 
.brand-story .swiper.swiper-container-2 {}
.brand-story .swiper.swiper-container-2 .swiper-wrapper{
    display: flex;
    align-items: center;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 1200px;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story {
    justify-self: center;
    margin-right: 60px;
}
.brand-story .swiper.swiper-container-2  .swiper-wrapper .swiper-slide .left_story h4 {
    font-size: 67px;
    margin-bottom: 20px;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story p {
    font-size: 24px;
    line-height: 1.5em;
    color: #555;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more {
    margin-top: 75px;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 110px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    line-height: 1;
}

.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a span {
    position: relative;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.5s;
    transform: translateX(-100%);    
}

.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #000;
    box-sizing: border-box;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a:hover::before {
    transform: translateX(0);
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .left_story .btn-more a:hover {
    color:#000;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images {
    position: relative;
    width: 592px;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images img {
    transform: scale(1.0);
    transition: 0.4s;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images:hover img{
    transform: scale(1.1);
    border-radius: 10px;
    transition: 0.4;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images p {
    position: absolute;
    top: 70%;
    left: 7%;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images:hover p {
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 7%;
}
.brand-story .swiper.swiper-container-2 .swiper-wrapper .swiper-slide .right_images p span{
    display: block;
    font-size: 17px;
    font-weight: normal;
}
.arrow_direction .swiper-button-next {
    background: url(../images/arrow_right.png) no-repeat;
    background-size: 40% auto;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 25px;
}
.arrow_direction .swiper-button-prev {
    background: url(../images/arrow_left.png) no-repeat;
    background-size: 40% auto;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 25px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}  
.brand_bottom {}
.brand-story_box_bottom {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_images {}
.left_images img {
    border-radius: 10px;
}
.right_famliy {
    margin-left: 100px;
}
.right_famliy p {
    font-size: 67px;
    font-weight: bold;
    line-height: 1.2em;
}
.right_famliy p span {
    display: block;
    font-size: 24px;
    font-weight: normal;
    white-space: nowrap;
    color: #555;
}
.right_famliy .btn-more {
    margin-top: 35px;
}
.right_famliy .btn-more a {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 110px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    line-height: 1;
}
.right_famliy .btn-more a span {
    position: relative;
}

.right_famliy .btn-more a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.5s;
    transform: translateX(-100%);    
}

.right_famliy .btn-more a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #000;
    box-sizing: border-box;
}
.right_famliy a:hover::before {
    transform: translateX(0);
}
.right_famliy .btn-more a:hover {
    color:#000;
}
/* 브랜드 역사 s4*/
/* 매장찾기 s5*/
.search_store {
}
.s5bg_line {
    position: relative;

}
.s5bg_line img {
    object-fit: fill;
    object-position: center;
    display: inline-block;
    width:100%;
} 
.search_store_map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search_txt {
    text-align: center;
    color: #fff;
    
}
.search_txt h5 {
    font-size: 67px;
}
.search_txt p {
    font-size: 24px;
    margin-bottom: 50px;
}
.search_box {
    position: relative;
    display: inline-block;
}
.search_box input[type=search] {
    border-radius: 50px;
    border: none;
    height: 70px;
    width: 850px;
}
.search_box input[placeholder] {
    font-size: 20px;
    padding: 0 75px 0 40px;
}
.search_box a {
    position: absolute;
    top: 5px;
    right: 5px;
}
.search_box a i {
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
}
/* 매장찾기 s5*/
/* 이벤트 s6*/
.event {
    margin-top: 150px;
}
.event_box {
    text-align: center;
}
.event_box-txt {
}
.event_box-txt h6 {
    font-size: 67px;
}
.event_box-txt p {
    font-size: 24px;
    margin: 10px 0 70px 0;
    color: #444;
}
.items {
    display: flex;
    gap: 18px;
    font-family: 'Pretendard', sans-serif;
}
.item {
    width: 416px;
}
.item_card {
    width:100%;
    height: 100%;
}
.item_card .item_top-img {
    width: 416px;
    height: 416px;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}
.item_card .item_top-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 1s;
}
.item_card .item_top-img:hover img {
    transform: scale(1.1);
    border-radius: 16px 16px 0 0;
}
.card_txt {
    padding:20px;
    border: 1px solid #ddd;
    border-radius: 0 0 16px 16px;
    text-align: left;
    font-size: 22px;
}
.card_txt a:hover {
    text-decoration: underline;
}
.card_txt p {
    font-weight: bold;
}
.card_txt small {
    display: block;
    color: #777;
    margin-top: 10px;
}
.event_box .btn-more {
    margin-top: 65px;
}
.event_box .btn-more a {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 110px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    line-height: 1;
}
.event_box .btn-more a span {
    position: relative;
}
.event_box .btn-more a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.5s;
    transform: translateX(-100%);    
}
.event_box .btn-more a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #000;
    box-sizing: border-box;
}
.event_box a:hover::before {
    transform: translateX(0);
}
.event_box .btn-more a:hover {
    color:#000;
}
/* 이벤트 s6*/
/* 뉴스 s7*/
.news {
    margin-top: 150px;
}
.news-bg {
    background: url(../images/section7_bg.png) no-repeat center center;
    background-size: cover;
    height: 60vh;
}
.news-line {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 120px 0;
    width: 100%;
    height: 100%;
}   
.news-item_box {
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: #f3eeee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.news-box_top {
    display: flex;
    justify-content: space-between;
}
.news-box_top h6 {
    /* display: inline-block; */
    font-size:40px;
}
.news-box_top .btn-more a {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    padding: 13px 20px 10px;
    border-radius: 50px;
    background-color: #f3eeee;
    color: #222;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    line-height: 1;
}
.news-box_top .btn-more a span {
    position: relative;
}
.news-box_top  .btn-more a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: transform 0.5s;
    transform: translateX(-100%);    
}
.news-box_top  .btn-more a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #888;
    box-sizing: border-box;
}
.news-box_top  a:hover::before {
    transform: translateX(0);
}
.news-box_top  .btn-more a:hover {
    color:#fff;
}
.news-box_bottom {
}
.news-box_bottom div {
    border-bottom: 1px solid #c2bdbd;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Pretendard', sans-serif;
    cursor: pointer;
}
.news-box_bottom div:last-child {
    border-bottom: none;
}
.news-box_bottom div:hover strong,
.news-box_bottom div:hover small{
    color: red;
}
.news-box_bottom div strong {
    font-weight: normal;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 428px;
    transition: all 0.5s;
}
/* .news-box_bottom div strong */
.news-box_bottom div small {
    font-size: 20px;
    font-weight:400;
    color: #a29b9b;
    transition: all 0.5s;
}
/* 뉴스 s7*/
/* 푸터 */
/* 푸터 */


