/* 모바일 max=767 */
@media all and (max-width:768px) {
    /* section1 */
    .intromain-inner h2 {
        font-size: 3rem;
    }
    .intromain-inner p {
        font-size: 1.18rem;
    }
    .intromain-character img {
        width: 22%;
    }
    .main-mouse_point {
        width: 1.87rem;
        height: 2.5rem;
    }
    .main-mouse_txt {
        font-size: 11px;
    }
    /* section1 end */
    /* section2 */
    .profile-picture img {
        width: 48%;
    }
    .profile-txt h3 {
        font-size: 1.4rem;
    }
    .profile-txt p {
        font-size: 1rem;
    }
    .education h3,
    .certificate h3 {
        font-size: 1.4rem;
    }
    .education p,
    .certificate p {
        font-size: 1rem;
    }
    /* section2 end */
    /* section4 */
    .mywork_title {
        top: 5%;
    }
    .containerswiper .swiper-pagination_box .swiper-pagination {
        bottom: 19%;
    }
    /* section4 end */
    /* section5 */
    .practice_title {
        top: 11%;
    }
    .swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .swiper.practice-sp .swiper-pagination_box .swiper-pagination {
        bottom: 13%;
    }
    /* section5 end */
    /* section6 */
    .contact_title {
        top: 13%;
    }
    .contact-linebox {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        row-gap: 4rem;
    }
    .contact-left_txt {
        width:100%;
    }
    .left_txt-line p {
        margin-top: 1rem;
    }
    .right-communication {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; 
        column-gap: 10%;
    }
    .e-mail_line {
        width : 100%;
    }
    .kakao-opentalk_line {
        margin-top: 0;
    }
    .opentalk {
        width: 180px;
        height: 180px;
    }
    .ot-line img {
        width: 120px;
    }
    .ot-line p {
        font-size: 12px;
    }
    /* section6 end */
    /* footer */
    /* footer */
}