/* ********section1-slide************ */
.slide{
  position:relative;
  width:100%;
  overflow: hidden;;
}
.inner-slide{
  position: relative;
  width:400vw;
}

.img-box{
  position: relative;
  width:100vw;
  float:left;
}
.img-box img{
  width:100%;
}
#mo-img2 img:nth-child(2){
  display:none;
}
#mo-img3 img:nth-child(2){
  display:none;
}

/* slide-bar */
.slide-bar{
  position:absolute;
  bottom:70px;
  right:120px;
  width:200px;
  height:5px;
  background-color: #fff;
  overflow: hidden;
}
.inner-bar{
  position: relative;
  top:0;
  left:-150px;
  width:200px;
  height:inherit;
  background-color: crimson;
  transition: 0.2s;
}
.slide-btn{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:70px;
  height:70px;
  text-align: center;
  font-size: 25px;
  /* background-color: rgba(187, 187, 187, 0.253); */
}
.slide-btn.left:after{
  content:'\F284';
  font-family: 'bootstrap-icons';
  line-height: 70px;
  cursor: pointer;
}
.slide-btn.right{
  right:0;
}
.slide-btn.right:after{
  content:'\F285';
  font-family: 'bootstrap-icons';
  line-height: 70px;
  cursor: pointer;
}
/* ********section2-popular******** */
.popular{
  background-color: #f9f2f261;
}
.inner-section{
  width:80%;
  padding: 10px 10px;
  margin:0 auto;
}
.inner-section h1{
  font-size: 43px;
  font-weight: 900;
  margin-top: 30px;
}
.inner-section h2{
  font-size: 20px;
  font-weight: bold
}
.popular-wrap{
  width:100%;
  height:330px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.popular-box{
  width:25%;
  height:350px;
  float:left;
  text-align: center;
}
.popular-box h2{
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Noto Sans KR' , sans-serif;
}
.popular-box p{
  font-size: 16px;
}
.popular-imgbox{
  position:relative;
  width:250px;
  height:250px;
  margin:0 auto;
}
.popular-imgbox:hover .popular-more{
  display:block;
}
.popular-imgbox img{
  transform: translateX(-10px);
  width:110%;
}
.popular-more{
  position:absolute;
  top:0;
  left:0;
  width:250px;
  height:250px;
  background-color: rgba(2, 2, 2, 0.35);
  display: none;
}
.popular-more span{
  padding:15px 30px;
  line-height: 250px;
  background-color: #222;
  color:#fff;
  cursor: pointer;
  border-radius: 15px;
  transition: color 0.4s;
  font-size: 15px;
  font-weight: bold;
}
.popular-more span:hover {
  color:crimson;
}
/****************** seciont3 - emall **************/
.e-mall{
  background-color: #fcfbfbc4;
  margin-bottom: 80px;
}
.e-mall .inner-section h1{
  margin-bottom: 20px;
}
.mall-wrap{
  width:100%;
  height:300px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.mall-box{
  text-align: center;
  width:200px;
  height:200px;
  cursor: pointer;
}
.mall-box img{
  width:100%;
}
.mall-box p{
  width:auto;
  height:80px;
  font-family: 'Noto Sans KR' , sans-serif;
}
/* slick custom */
.slick-prev{
  left:-50px !important;
}
.slick-prev::before{
  content: '\F284' !important;
  font-family: 'bootstrap-icons' !important;
  color:#333 !important;
  font-size: 30px !important;
}
.slick-next{
  right:-50px !important;
}
.slick-next::before{
  content:'\F285' !important;
  font-family: 'bootstrap-icons' !important;
  color:#333 !important;
  font-size: 30px !important;
}
.slick-prev, .slick-next{
  background-color: rgba(211, 211, 211, 0.123) !important;
  width:40px !important;
  height:250px !important;
}
/********************* section4-about *****************/
.abouts{
  width:100%;
  height:1700px;
}
.inner-about{
  width:80%;
  margin: 0 auto;
  position:relative;
}
.about{
  width:100%;
  height:450px;
  position: relative;
}
.about-content{
  text-align: center;
  position: absolute;
  top:0;
  right:0;
}
.about-content h1{
  font-size: 53px;
  font-weight: bold;
  margin:15px 0;
}
.about-content p{
  margin:20px 0;
  font-size:18px;
  font-weight: bold;
  line-height: 1.5em;
}
.about-content div{
  background-color: crimson;
  width:3px;
  height:120px;
  margin: 0 auto;
}
.about-content button{
  cursor: pointer;
  outline: none;
  background-color: #fff;
  color:#000;
  border: 1.5px solid #000;
  padding:18px 35px 15px 35px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
}
.about-content button:hover{
  background-color: crimson;
  color:#fff;
  border:1px solid #fff;
}
/* about store */
.about.store img{
  width:500px;
  margin-left: 100px;
  border-radius: 30px;
}
.about.store .about-content{
  float:right;
  padding: 20px;
  margin-right:200px;
}
/* about membership */
.membership{
  margin-top: 100px;
}
.about.membership img{
  width:500px;
  height: 500px;
  float:right;
  /* margin-top:50px; */
  border-radius: 30px;
}
.about.membership .about-content{
  width:50%;
  top:0;
  left:0;
  padding:20px;
  float:left;
}
.mo-membership{
  display: none;
}
/* about giftcard */
.giftcard{
  margin-top: 115px;
}
.about.giftcard .about-content{
  float:right;
  margin-top: 20px;
  margin-right: 150px;
}
.about.giftcard img{
  width:500px;
  height: 500px;
  float:left;
  /* margin-top: 25px; */
  margin-left:100px;
  border-radius: 30px;
}