/* 태블릿 max=1200 */
@media all and (max-width:1200px) {
    /* header */
    .header-inner {
        width: 90%;
    }
    /* header end */
    /* section1 */
    .intromain-character {
        bottom: 0;
        left: -2%;
    }
    /* section1 end */
    /* section2 */
    .about-inner {
        width: 90%;
    }
    /* section2 end */
    /* section3 */
    .arrow_direction .swiper-button-next,
    .arrow_direction .swiper-button-prev {
        display: none;
    }
    .mywork-inner {
        width: 90%;   
    }
    .wtitle_txt-line {
        width: 19%;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide {
        grid-gap: 70px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_right-img .right-img img{
        width: 550px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left_txt-title {
        font-size: 35px;
    }
    .swiper-pagination {
        margin-bottom: 230px;
    }
    /* section3 end */
    /* section4 */
    .practice-inner {
        width: 90%;
    }
    .ptitle_txt-line {
        top: 19%;
    }
    /* section4 end */
    /* section5 */
    .contact-inner {
        width: 90%;
    }
    .ctitle_txt-line {
        top: 18%;
    }
    /* section5 end */
}
/* 태블릿 max=1100 */
@media all and (max-width:1100px) {
    /* section3 */
    .wtitle_txt-line {
        width: 18%;
    }
    /* section3 end */
    /* section4 */
    .ptitle_txt-line {
        top: 21%;
    }
    /* section4 end */
    /* section5 */
    .ctitle_txt-line {
        top: 13%;
    }
    /* section5 end */
}
/* 태블릿 max=1024 */
@media all and (max-width:1024px) {
    /* header */
    .header-inner {
        width: 95%;
   }
   #header #menu_area .gnb li a:hover {
        color: black;
        transition: color 0.4s;
    }
    /* section1 */
    .intromain-character {
        left: 2%;
    }
    .character-cat_footprint {
        left: 79%;
        transform: rotatey(45deg);
    }
    /* section1 end */
    /* section2 */
    .about-inner {
        width: 95%;
    }
    .profile-picture img {
        width: 78%;
    }
    .profile-txt h3 {
        font-size: 26px;
    }
    .profile-txt p {
        font-size: 19px;
    }
    .education h3,
    .certificate h3 {
        font-size: 26px;
    }
    .education p,
    .certificate p {
        font-size: 19px;
    }
    /* section2 end */
    /* section3 */
    .arrow_direction {
        display: none;
    }
    .mywork-inner {
        width: 95%;
    }
    .wtitle_txt-line {
        top: 21%;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide {
        grid-gap: 100px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_right-img .right-img img {
        width: 480px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left_txt-title {
        font-size: 31px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left_txt-explanation {
        font-size: 26px;
    }
    .swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left-txt_tag-list .tag-list {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .btn_more {
        margin-top: 75px;
        font-size: 18px;
    }
    .swiper-pagination {
        margin-bottom: 300px;
    }
    /* section3 end */
    /* section4 */
    .practice-inner {
        width: 95%;
    }
    .ptitle_txt-line {
        top: 22%;
    }
    /* section4 end */
    /* section5 */
    .contact-inner {
        width: 95%;
    }
    .ctitle_txt-line {
        top: 18.5%;
    }
    .left_txt-line h3 {
        font-size: 26px;
    }
    .left_txt-line p {
        font: 19px;
    }
    .e-mail_line h3 {
        font-size: 27px;
    }
    .e-mail_line p {
        font-size: 20px;
    }
    /* section5 end */
    /* footer */
    .finfo-txt {
        font-size: 22px;
    }
    /* footer end */
    }
    /* 태블릿 max=1024 */
@media all and (max-width:890px) {
    /* section4 */
    .ptitle_txt-line {
        top:25%;
    }
    /* section4 end */
    /* section5 */
    .ctitle_txt-line {
        top: 14%;
    }
    /* section5 end */
}