@charset "utf-8";
/* section1 */
.container {}
.intro {
    position: relative;
}
.intromain-inner {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.intromain-inner h2 {
    font-size: 70px;
    font-weight: 600;
}
.intromain-inner p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 10px;
    color: #444;
}
.intromain-character {
    position: absolute;
    bottom: 0;
    left: 2%;
}
.intromain-character img {
    width: 235px;
}
.character-cat_footprint {
    position: absolute;
    bottom: 26px;
    left: 83%;
}
.character-cat_footprint img {
    width: 200px;
}
.main-mouse {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.main-mouse_point {
    width: 35px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 20px;
    margin-left:15px;
    position: relative; 
}
.main-mouse_point div {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: point 1.5s linear infinite;
}
.main-mouse_txt {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
}
@keyframes point {
    0% {
        top: 5%;
    }
    100% {
        top: 35%;
    }
}
/* section1 end */
/* section2 */
.about-inner {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: 1fr;
   align-items: center;
   height: inherit;
}
.about_right {
    height: 100%;
}
.about-right h2{
    font-size: 50px;
    color: var(--color--black1);
    margin: 30px 0 40px 0;
    font-weight: 900;
}
.profile-picture img {
    width: 415px;
    height: 460px;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.95;
}
.profile-txt_line {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}    
.profile-txt h3 {
    font-size:32px;
    margin: 90px 0 10px 0;
    color: var(--color--black1);
}
.profile-txt p {
    margin: 0 15px;
    font-size: 19px;
    line-height: 1.7em;
    color: var(--color--black);
}
.education h3,
.certificate h3 {
    margin: 10px 0;
    font-size: 32px;
    color: var(--color--black1);
}
.education_txt p,
.certificate_txt p {
    margin-left: 10px;
    line-height: 1.8em;
    font-size: 19px;
    color: var(--color--black);
}
/* section2 end */
/* section3 */
.mywork {
    position: relative;
}
.arrow_direction .swiper-button-next {
    background: url(../img/arrow_right.png) no-repeat;
    background-size: 40% auto;
    background-position: center;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 10%;
    animation: arrowani1 2s linear infinite;
    z-index: 9;
}
.arrow_direction .swiper-button-prev {
    background: url(../img/arrow_left.png) no-repeat;
    background-size: 40% auto;
    background-position: center;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
    animation: arrowani2 2s linear infinite;
    z-index: 9;
}
@keyframes arrowani1 {
    0% {
        right: 10%;
    }
    50% {
        right: 11%;
    }
    100% {
        right: 10%;
    }
}
@keyframes arrowani2 {
    0% {
        left: 10%;
    }
    50% {
        left: 11%;
    }
    100% {
        left: 10%;
    }
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.mywork-inner {
    height: 100%;
}
.work_title {
    height: 0;
    width: 0;
    visibility: hidden;
    pointer-events: none;
    position: relative;
}
.wtitle_txt-line {
    position: absolute;
    font-size: 50px;
    letter-spacing: -5.5px;
    font-weight: 900;    
    top: 20%;
    height: 60px;
    width: 1300px;
}    
.mywork-title_txt {
    position: relative;
    animation:workani 2s infinite;
}
.mywork-title_txt:nth-of-type(1) {
    animation-delay: 0.2s;
}
.mywork-title_txt:nth-of-type(2) {
    animation-delay: 0.4s;
}
.mywork-title_txt:nth-of-type(3) {
    animation-delay: 0.6s;
}
.mywork-title_txt:nth-of-type(4) {
    animation-delay: 0.8s;
}
@keyframes workani{
    0% {
        top: 0;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {top: 0;
    }
}
.swiper.containerswiper {
    height: 100%;
}    
.swiper.containerswiper .swiper-wrapper {
}
.swiper.containerswiper .swiper-wrapper .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 150px;
    width: 100%;
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_right-img {
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_right-img .right-img {
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_right-img .right-img img {
    border-radius: 10px;
    width: 630px;
    height: 400px;
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt {
    height: 350px;
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left_txt-title {
    font-size: 40px;
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left_txt-explanation {
    font-size: 25px;
    color: #494946;
    margin: 20px 0;
    font-weight: 500;
}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left-txt_tag-list {}
.swiper.containerswiper .swiper-wrapper .swiper-slide .mywork_left_txt .left-txt_tag-list .tag-list {
    display: inline-block;
    height: 100%;
    padding: 7px 17px;
    border: 2px solid var(--color--black);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color--black);
    margin-top: 10px;
}

.btn_more {
    /* position: absolute;
    top: 60%;
    right: 370px; */
    margin-top: 110px;
}
.btn_more a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 23px 45px 20px;
    background-color: #504c4c;
    color: #fff;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
}
.btn_more a span {
    position: relative;
}
.btn_more a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.btn_more a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid #504c4c;
    box-sizing: border-box;
}
.btn_more a:hover::before {
    transform: translateX(0);
}
.btn_more a:hover {
    color: #494946;
}

.swiper-pagination {
    margin-bottom: 100px;
}
.containerswiper .swiper-pagination-bullet {
    background-color:#7c7979;
}
.containerswiper .swiper-pagination-bullet-active {
    background-color: rgb(96, 94, 94);
    width: 10px;
    height: 10px;
}
/* section3 end */
/* section4 */
.practice {
    position: relative;
}
.practice-inner {
    height: 100%;
}
.practice_title {
    width: 0;
    height: 0;
    visibility: hidden;
    position: relative;
    pointer-events: none;
}
.ptitle_txt-line {
    position: absolute;
    font-size: 50px;
    letter-spacing: -5.5px;
    font-weight: 900;    
    top: 17%;
    height: 60px;
    width: 1300px;
}
.practice-title_txt {
    animation: practiceani 2s linear infinite;
    position: relative;
}
.practice-title_txt:nth-of-type(1) {
    animation-delay: 0.2s;
}
.practice-title_txt:nth-of-type(2) {
    animation-delay: 0.4s;
}
.practice-title_txt:nth-of-type(3) {
    animation-delay: 0.6s;
}
.practice-title_txt:nth-of-type(4) {
    animation-delay: 0.8s;
}
.practice-title_txt:nth-of-type(5) {
    animation-delay: 1s;
}
.practice-title_txt:nth-of-type(6) {
    animation-delay: 1.2s;
}
.practice-title_txt:nth-of-type(7) {
    animation-delay: 1.4s;
}
@keyframes practiceani{
    0% {
        top: 0;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {top: 0;
    }
}
.swiper.practice-sp {
    height: 100%;
}   
.swiper.practice-sp .swiper-wrapper {
 
}
.swiper.practice-sp .swiper-wrapper .swiper-slide {
 
}
.swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    align-content: center;
    height: 100%;
}
.swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items .p-item {
    position: relative;
    width:99.5%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.2);
}
.swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items .p-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: transform 0.3s;
}
.swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items .p-item a img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
}
.swiper.practice-sp .swiper-wrapper .swiper-slide .practice-items .p-item:hover a{
    transform: scale(1.1);
    z-index: 1;
}
.practice-sp .swiper-pagination-bullet {
    background-color:#7c7979;
}
.practice-sp .swiper-pagination-bullet-active {
    background-color: rgb(96, 94, 94);
    width: 10px;
    height: 10px;
}
/* section4 end */
/* section5 */
.contact {
    position: relative;
}
.contact-inner {
    height: 100%;
}
.contact_title {
    width: 0;
    height: 0;
    visibility: hidden;
    position: relative;
    pointer-events: none;
}
.ctitle_txt-line {
    position: absolute;
    font-size: 50px;
    letter-spacing: -5.5px;
    font-weight: 900;    
    top: 23%;
    height: 60px;
    width: 1300px;
}
.contact_title-txt {
    position: relative;
    animation: contactani 2s linear infinite;
}
.contact_title-txt:nth-of-type(1) {
    animation-delay: 0.2s;
}
.contact_title-txt:nth-of-type(2) {
    animation-delay: 0.4s;
}
.contact_title-txt:nth-of-type(3) {
    animation-delay: 0.6s;
}
.contact_title-txt:nth-of-type(4) {
    animation-delay: 0.8s;
}
.contact_title-txt:nth-of-type(5) {
    animation-delay: 1s;
}
.contact_title-txt:nth-of-type(6) {
    animation-delay: 1.2s;
}
.contact_title-txt:nth-of-type(7) {
    animation-delay: 1.4s;
}
@keyframes contactani {
    0% {
        top: 0;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {top: 0;}
}
.contact-linebox {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 30px;
    grid-gap: 30px;
    height: inherit;
}
.contact-left_txt {
}
.left_txt-line {}
.left_txt-line h3 {
    font-size: 35px;
}
.left_txt-line p {
    /* margin: 0 15px; */
    font-size: 19px;
    font-weight: 500;
    line-height: 1.7em;
    margin-top: 25px;  
}
.left_txt-line p span {
    color: rgb(243, 72, 106);
}
.right-communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.e-mail_line {
    flex: 1;
}
.e-mail_line h3 {
    font-size: 35px;
}
.e-mail_line p {
    font-weight: 500;
    font-size:  25px;
    margin-top: 25px;
    letter-spacing: 2px;
}
.e-mail_line p a {
    color: var(--color--black);
    transition: color 0.3s;
}
.e-mail_line p a:hover {
    color: rgb(60, 213, 29);
}
.kakao-opentalk_line {
    flex: 1;
    margin-top: 27px;
}
.opentalk {
    width: 250px;
    height: 250px;
    background-color: #ebe9e9;
    position: relative;
    transition: background-color 0.3s;
}
.opentalk:hover {
    background-color: rgb(238, 212, 38);
}
.ot-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ot-line img {
    width: 180px;
}
.ot-line p {
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
}

/* section5 end */

