@charset "utf-8";
/*  header */
  header {
    overflow: hidden;
    padding: 30px 55px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .logo {
    float:left;
  }
  .logo img {
    width:170px;
  }
  .signin {
    float:right;
  }
  .signin button {
    background-color: crimson;
    border: none;
    color:#fff;
    padding:8px 15px;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .signin button:hover{
    background-color: rgb(189, 30, 62);
  }
/* footer */
footer{
    padding:50px 0;
    font-size: 12px;
    color:#777;
    line-height: 1.5em;
  }
  .footer-inner{
    width: 850px;
    margin: auto;
  }
  .sitemap{
    border-bottom: 1px solid #333;
    padding-bottom:20px;
  }
  .sitemap h6{
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .items{
    display: inline-block;
    width:24%;
    vertical-align: top;
    line-height: 2em;
  }
  .items a{
    color:#777;
    display: block;
    width: 100%;
  }
  .items a:hover{
    color:#fff;
    text-decoration: underline;
  }